$default-padding: 60px;
$default-font: "Inter", sans-serif !important;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 769px) {
      @content;
    }
  }

  @if $breakpoint == smallphones {
    @media (max-width: 420px) {
      @content;
    }
  }
}

body {
  background-color: #12141d;
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  @include respond-to(smallphones) {
    
    padding: 0;
  }
}
.lorem {
  text-align: center;
  color: #b7b7b7;
}
.button-on-page:hover {
  transform: scale(0.95);
}
.free-trials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
.App {
  width: 100vw;
  @include respond-to(smallphones){
    width: 130vw;
  }
  .navigationBar {
    
    .navigationBarContents {
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Inter", sans-serif !important;
        padding: 50px;
        @include respond-to(mobile) {
          justify-content: space-evenly;
        }
     
        .logo {
          display: flex;
          align-items: center;
          gap: 63px;
          justify-content: space-between;
          width: 544px;
          height: 24px;
          .imglogo {
            width: 150px;
            height: 24px;
            gap: 20px;
            margin: 20px;
            display: flex;
            align-items: center;
          }
          img {
            width: 50px;
            height: 50px;
           
          }
          h1 {
            color: #ffffff;
            font-size: 35px;
            font-weight: 700;
            line-height: 21.78px;
          }
        }
        .navlinks {
          display: flex;
          gap: 30px;
          width: 422px;
          justify-content: space-between;
          a {
            color: #e0e0e0;
            height: 17px;
            gap: 52px;
            display: flex;
            align-items: baseline;
            text-decoration: none;
            font-size: 20px;
            &:hover {
              color: #121a47;
            }
          }
          a.active {
            color: #121a47;
            font-weight: bold;
          }
          @include respond-to(mobile) {
            display: none;
          }
          @include respond-to(tablet) {
            gap: 5px;
            width: 300px;
          }
        }
        .menuToggle {
          display: none;
          @include respond-to(mobile) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 0px;
            top: 0;
            background-color: #010727c2;
            height: 100vh;
            box-shadow: -0.5px 1.5px 8.5px -0.5px #061638;
            gap: 35px;
            backdrop-filter: blur(10px);
            width: 70%;
            z-index: 1;
            position: fixed;
            border-radius: 20px;

            a {
              color: #ffffff;
              text-decoration: none;
              font-size: 20px;
              font-family: $default-font;
              border-bottom: 1px solid #061638;
            }
          }
          @include respond-to(smallphones) {
            width: 60%;
          }
          
        }
        .signin-up {
          display: flex;
          gap: 10px;
          @include respond-to(mobile) {
            display: none;
          }
        }
        .triggerButton {
          background-color: transparent;
          border: none;
          display: none;
          @include respond-to(mobile) {
            display: flex;
          }
          .menu {
            display: none;
            @include respond-to(mobile) {
              display: flex;
              color: #b7b7b7;
              font-size: 30px;
              position: fixed;
              top: 45px;
            
            }
          }
        }
      }
    }
  }
  .home {
    display: flex;
    height: 441px;
    margin-top: 100px;
    border-bottom: #010727 solid 1px;
    .boxleft {
      width: 200px;
      flex-shrink: 0;
      height: 286px;
      border-radius: 286px;
      background: rgba(252, 116, 58, 0.1);
      filter: blur(75px);
      @include respond-to(mobile) {
        display: none;
      }
    }
    .homePageContents {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 0px;
      width: 100%;
      height: 405px;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      .contentBox {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;

        .top-content {
          .intro {
            color: #e0e0e0;
            font-family: $default-font;
            .main {
              p {
                word-spacing: 4px;
                letter-spacing: 2px;
                font-weight: 600;
                font-style: normal;
                font-size: 50px;
                font-family: "Outfit", sans-serif;
                color: #e0e0e0;
                margin: 0px;
                @include respond-to(mobile) {
                  font-size: 30px;
                }
                @media (max-width: 420px) {
                  font-size: 25px;
                }
              }
              .ads {
                background: linear-gradient(90deg, #ffc947 0%, #fc6739 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: underline;
                margin: 0px;
                @include respond-to(mobile) {
                  font-size: 30px;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #b7b7b7;
          gap: 8px;
        }
      }
    }
    .boxright {
      position: relative;
      width: 200px;
      flex-shrink: 0;
      height: 286px;
      border-radius: 286px;
      background: rgba(252, 116, 58, 0.1);
      filter: blur(75px);
      @include respond-to(mobile) {
        display: none;
      }
    }
  }
  .signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .signUpPageContent {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: 300px;
        height: max-content;
        background-color: #232636;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;
        box-shadow: 0.5px -1.5px 9.5px -2px #121a47;
        @include respond-to(smallphones) {
          width: 88%;
        }
        .back {
          position: absolute;
          top: 0;
          left: 5px;
          font-size: 30px;
          color: #ffffff;
          animation: bounce 1s linear infinite;
          @keyframes bounce {
            0%,
            100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-10px);
            }
          }
        }
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        span {
          font-weight: 600;
          font-size: 30px;
          display: flex;
          color: #ffffff;
          font-family: "Bitter", serif;
          @include respond-to(smallphones) {
            font-size: 10px;
          }
          .login-signup {
            color: #2a7bc7;
          }
        }
        p {
          font-size: 25px;
          font-weight: 400;
          color: #2a7bc7;
        }
        .inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          input {
            padding: 20px;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #12141d;
            &::placeholder {
              color: #e0e0e080;
            }
          }
          button {
            padding: 10px;
            border-radius: 10px;
            background-color: #010727;
            border: none;
            color: white;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              background-color: #050714;
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }
  .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .text {
      font-family: $default-font;
      color: #b7b7b7;
      font-weight: 600;
      font-size: 20px;
      line-height: 25.2px;
      margin: 35px;
      @include respond-to(mobile) {
        font-size: 14px;
      }
    }
    img {
      @include respond-to(mobile) {
        width: 320px;
        height: 70px;
      }
    }
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #252835;
    grid-gap: 30px;
    height:max-content;
    margin-bottom: 50px;
    @include respond-to(mobile){
     width: 100%;
      box-sizing: border-box;
    }
     @include respond-to(smallphone) {
          width: 100vh;
        }
    .contactHeader {
      width: 500px;
      span {
        color: #e0e0e0;
        font-weight: 600;
        font-size: 40px;
        font-family: $default-font;
        @include respond-to(mobile){
          font-size: 20px;
          box-sizing: border-box;
          word-wrap: break-word;
        }
      }
      p {
        color: #e0e0e0;
        font-family: $default-font;
        @include respond-to(mobile){
          font-size: 13px;
          box-sizing: border-box;
          display: none;
        }
      }
    }
    .contactReviews {
      display: flex;
      gap: 19px;
      flex-direction: column;
      .contactReviews1 {
        display: flex;
        gap: 19px;
        @include respond-to(mobile){
          flex-direction: column;
        }
      }
      .contactReviews2 {
        display: flex;
        gap: 19px;
        @include respond-to(mobile){
          flex-direction: column;
        }
      }
    }
  }
  .premiumPlans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .premiumPlansHeader {
      width: 500px;
      text-align: center;
      font-family: $default-font;
      @include respond-to(mobile){
        width: 300px;
      }
      span {
        color: #e0e0e0;
        font-weight: 600;
        font-size: 40px;
        @include respond-to(mobile){
          font-size: 22px;
        }
      }
      p {
        color: #b7b7b7;
      }
    }
    .premiumPlansContent {
      display: flex;
      gap: 20px;
      @include respond-to(mobile){
        flex-direction: column;
      }
      .plan{
        display: flex;
        flex-direction: column;
        width: 300px;height: 500px;
        margin: 20px;
        border-radius: 30px;
        padding:15px;
        align-items: center;
        justify-content: space-between;
        background-color: #252835;
        transform: 0.3s;
        &:hover{
          transform: scale(1.1);
          cursor: pointer;
          -webkit-box-shadow: 1.5px 1.5px 12.5px 0.5px #222965;
          -moz-box-shadow: 1.5px 1.5px 12.5px 0.5px #222965;
          box-shadow: 1.5px 1.5px 12.5px 0.5px #222965;
        }
        .premiumPlanPrice{
          p{
            color: #b7b7b7;
            font-size: 18px;
            font-weight: 600;
          }
          span{
            display: flex;
            align-items: center;
            color: #e0e0e0;
            font-size: 40px;
          }
          .suitable{
            font-weight: 400;
          }
         
        }
        .premiumPlanContent{
          span{
            font-weight: 600;
            font-size: 20px;
            color: #e0e0e0;
          }
          p{
            color: #b7b7b7;
            font-weight: 400;
          }
        }
      }
    }
   
  }
  .client{
    display: flex;
    justify-content: center;
    align-items: center;
    .clientCatch{
      background: linear-gradient(90deg, #2b59ff 0%, #bb2bff 100%);
      width: 60%;
      height: 100px;
      display: flex;
      gap: 20px;
      margin-top: 50px;
      justify-content: center;
        align-items: center;
        @include respond-to(mobile){
          width: 100%;
          flex-direction: column;
          gap: 0px;

        }
        span{
          color: #e0e0e0;
          font-size: 30px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 500px;
          @include respond-to(mobile) {
            font-size: 20px;
            width: 300px;
          }
        }
    }
    
  }
  .footer{
    .footerContents{
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to(mobile){
        flex-direction: column;
      }
      .content1{
        display: flex;
        margin:100px;
        gap: 100px;
        @include respond-to(mobile){
          margin: 10px;
          gap: 10px;
        }
        
        .boxLeft{
          margin: 100px;
          span{
            color: #e0e0e0;
            font-weight: 600;
            font-size: 20px;
          }
          p{
            color: #b7b7b7;
            font-size: 18px;
          }
        }
        .boxRight{
          margin: 100px;
          span{
            color: #e0e0e0;
            font-weight: 600;
            font-size: 20px;
          }
          p{
            color: #b7b7b7;
            font-size: 18px;
          }
        }
      }
    }
  }
}
